body {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 80%;
    font-style: normal;
}
.navbar {
    background-color: #3d5630;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-brand, .nav-link {
    color: white !important;
}
.content-section {
    padding: 4rem 0;
}
.footer {
    background-color: #3d5630;
    color: white;
    padding: 25px;
    text-align: center;
}
.gallery-img {
    max-height: 430px;
    object-fit: cover;

}
.about {
    max-height: 430px;
    object-fit: cover;
    border-radius: 50px;
}
